@model CoursesManagementSystem.DB.Models.QuestionLevel

@{
    ViewData["Title"] = "QuestionLevels";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<div class="container mt-5">
    <div class="card text-center">
        <div class="card-header">
            Question Level Details
        </div>
        <div class="card-body">
            <p class="card-title"><strong>Question Level Name:</strong> @Model.Name</p>
            <p class="card-title"><strong>Difficulty Score:</strong> @Model.Name</p>
            <p class="card-title"><strong>Created By:</strong>@Model.CreatedBy</p>
            <p class="card-title"><strong>Created At</strong> @Model.CreatedAt.ToString("t")</p>
            <p class="card-title"><strong>Last Modified At:</strong> @Model.LastModifiedAt</p>
            <p class="card-title"><strong>Last Modified By:</strong> @Model.LastModifiedBy</p>
            <div class="d-flex justify-content-center">
                <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary mx-2">Update QuestionLevel</a>
                <a asp-action="ConfirmDelete" asp-route-id="@Model.ID" class="btn btn-danger">Delete QuestionLevel</a>

            </div>
        </div>
    </div>
</div>