@model Category

@{
    ViewData["Title"] = "Categories";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<div class="container mt-5">
    <div class="card text-center">
        <div class="card-header">
            Category Details
        </div>
        <div class="card-body">
            <p class="card-title"><strong>Category Name:</strong> @Model.Name</p>
            <p class="card-title"><strong>Created By:</strong>@Model.CreatedBy</p>
            <p class="card-title"><strong>Created At</strong> @Model.CreatedAt.ToString("t")</p>
            <p class="card-title"><strong>Last Modified At:</strong> @Model.LastModifiedAt</p>
            <p class="card-title"><strong>Last Modified By:</strong> @Model.LastModifiedBy</p>
            <div class="d-flex justify-content-center">
                <a asp-action="Edit" asp-controller="Category" asp-route-id="@Model.ID"  class="btn btn-primary mx-2">Update Category</a>
                <a asp-action="ConfirmDelete" asp-controller="Category" asp-route-id="@Model.ID" class="btn btn-danger">Delete Category</a>

            </div>
        </div>
    </div>
</div>